@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>
<h3>@ViewBag.Message</h3>

<p>This is our hospital management system. You can use this to create, update, and delete doctors, patients, and visits data!</p>
